## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
mundo=["Lima","Buenos aires","Zurich","Lisboa","Tokio","Berlin"]

for ciudades in mundo:
    print(ciudades)

Lima
Buenos aires
Zurich
Lisboa
Tokio
Berlin

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
print(mundo[1])

Buenos aires

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(mundo[3])

Lisboa

4) Visualizar el tipo de dato de la lista

In [7]:
type(mundo)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
for generico in mundo[2:]:
    print(generico)

Zurich
Lisboa
Tokio
Berlin

6) Visualizar los primeros 4 elementos de la lista

In [11]:
for generico_2 in mundo[:4]:
    print(generico_2)

Lima
Buenos aires
Zurich
Lisboa

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [12]:
#agregar una ciudad mas a la lista que ya existe
mundo.append("Barcelona")
print(mundo)

['Lima', 'Buenos aires', 'Zurich', 'Lisboa', 'Tokio', 'Berlin', 'Barcelona']

8) Agregar otra ciudad, pero en la cuarta posición

In [13]:
ciudad_nueva="Pekin"
pos=3
mundo.insert(pos,ciudad_nueva)
print(mundo)

['Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Tokio', 'Berlin', 'Barcelona']

9) Concatenar otra lista a la ya creada

In [14]:
nueva_lista=["Lunes","Martes"]
union=mundo+nueva_lista
print(union)

['Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Tokio', 'Berlin', 'Barcelona', 'Lunes', 'Martes']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [15]:
a=mundo.index("Barcelona")
print(a)

7

11) ¿Qué pasa si se busca un elemento que no existe?

In [19]:
try:
    indice=union.index("Roma")
    print("El indice de Roma es:",indice)

except ValueError:
    print("No se encontró Roma en la lista")

No se encontró Roma en la lista

12) Eliminar un elemento de la lista

In [25]:
#usando remove (elimina la primera aparición)
union.remove("Berlin")
print(union)

['Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Barcelona', 'Lunes', 'Martes']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [27]:
try:   
    union.remove("Cali")
    print(union)
except ValueError:
    print("No se encontró Cali en la lista")

No se encontró Cali en la lista

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [29]:
ex=union.pop()
print(ex)

Martes

15) Mostrar la lista multiplicada por 4

In [30]:
lista_mul=union*4
print(lista_mul)

['Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Barcelona', 'Lunes', 'Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Barcelona', 'Lunes', 'Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Barcelona', 'Lunes', 'Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Barcelona', 'Lunes']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [31]:
tupla_num=tuple(range(1,21))
print(tupla_num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [33]:
for numeros in tupla_num[9:14]:
    print(numeros)

10
11
12
13
14

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [35]:
num_1=20
num_2=30

if num_1 in tupla_num:
    print("El numero ",num_1," esta en la tupla")
    
else:
    print("El numero ",num_1," no esta en la tupla")


if num_2 in tupla_num:
    print("El numero ",num_2," esta en la tupla")
    
else:
    print("El numero ",num_2," no esta en la tupla")

El numero  20  esta en la tupla
El numero  30  no esta en la tupla

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [40]:
busqueda="Paris"
if busqueda not in mundo:
    mundo.append(busqueda)
    mensaje=f"'{busqueda}' no estaba en la lista,pero se ha agregado"
else:
    mensaje=f"'{busqueda}' estaba en la lista"

print(mensaje)
print(mundo)

'Paris' estaba en la lista
['Lima', 'Buenos aires', 'Zurich', 'Pekin', 'Lisboa', 'Tokio', 'Berlin', 'Barcelona', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [43]:
nueva_tupla=(2,4,5,6,3,34,5,43,2,21,2,4,5,3,45,2)
elemento_buscar=2
cant_tupla=nueva_tupla.count(elemento_buscar)
print(f"El elemento {elemento_buscar} se encuentra  {cant_tupla} veces en la tupla")

lista_numeros = [1, 2, 3, 4, 2, 5, 2, 6, 7, 2, 8, 2]
elemento_a_contar = 2
cantidad_en_lista = lista_numeros.count(elemento_a_contar)
print(f"El elemento {elemento_a_contar} se encuentra {cantidad_en_lista} veces en la lista.")

El elemento 2 se encuentra  4 veces en la tupla
El elemento 2 se encuentra 5 veces en la lista.

21) Convertir la tupla en una lista

In [44]:
lista_creada=list(nueva_tupla)
print(lista_creada)

[2, 4, 5, 6, 3, 34, 5, 43, 2, 21, 2, 4, 5, 3, 45, 2]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [53]:
nueva_tupla3 = (2, 4, 5, 6, 3, 34, 5, 43, 2, 21, 2, 4, 5, 3, 45, 2)

v1, v2, v3= nueva_tupla3[:3]
print("var1:", v1)
print("var2:", v2)
print("var3:", v3)

var1: 2
var2: 4
var3: 5

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [58]:
# Lista de ciudades
ciudades = ["Lima", "Buenos Aires", "Zurich", "Lisboa", "Tokio", "Berlín"]

diccionario = {}

for ciu in ciudades:
    diccionario[ciu]={"Ciudad":ciu,"Pais":"Nombre pais","Continente":"Nombre de continente"}
    
    
    
print(diccionario)

{'Lima': {'Ciudad': 'Lima', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}, 'Buenos Aires': {'Ciudad': 'Buenos Aires', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}, 'Zurich': {'Ciudad': 'Zurich', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}, 'Lisboa': {'Ciudad': 'Lisboa', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}, 'Tokio': {'Ciudad': 'Tokio', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}, 'Berlín': {'Ciudad': 'Berlín', 'Pais': 'Nombre pais', 'Continente': 'Nombre de continente'}}

24) Imprimir las claves del diccionario

In [59]:
claves=diccionario.keys()
print(claves)

dict_keys(['Lima', 'Buenos Aires', 'Zurich', 'Lisboa', 'Tokio', 'Berlín'])

25) Imprimir las ciudades a través de su clave

In [60]:
for claves in diccionario:
    print(diccionario[claves]["Ciudad"])

Lima
Buenos Aires
Zurich
Lisboa
Tokio
Berlín